.App {
  text-align: center;
  display:grid;
  place-items:center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.todo_listing {
  padding-top:30px;
}
.del__item{
  cursor: pointer;
  color: #a61e1e;
}
.todo_form{
  width: 700px;
}
.todo__list{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  border: 1px solid lightgray;
  margin-bottom: 10px !important;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
